*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ededed !important;
    background-image: url("./img/bg.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position-x:center ;
    height: 100vh;
    object-fit: cover;
}

.card-img-top{
    height: 140px;
}
.card{
    opacity: 0.8;
}
.card-img-top{
    opacity: 1.0 !important;
}
